<h1>Add a Stylist</h1>

<form action="/stylists" method="post">
  <div class="form-group">
    <label for="name" class="form-label">New Stylist's Name:</label>
    <input type="text" id="name" name="name" class="form-control">
    <button type="submit" class="btn">Add Stylist</button>
  </div>
</form>

<p><a href="/">Return Home</a></p>
